@import 'settings';

body {
  //  default, mobile
  --modalBorderRadius: 10px 10px 0 0;
  --modalAlign: end;

  //  not mobile
  @media(min-width: $min-desktop) {
    --modalBorderRadius: 10px;
    --modalAlign: center;
  }
}
