<form [formGroup]="accountForm" novalidate autocomplete="off">
  <div>
    <div class="floating-label">
      <input
        required
        #authModalNsecField
        id="authModalNsecField"
        [attr.type]="showNsec ? 'text' : 'password'"
        name="nsec"
        maxlength="64"
        formControlName="nsec"
      />
      <label for="authModalNsecField">Nostr Secret (nsec)</label>

      <button type="button" class="bordered svg-button" [ngClass]="showNsec ? 'icon-show' : 'icon-hide'" (click)="toggleShowNsec()">
        <div class="svg-wrapper">
          <div role="img"></div>
        </div>
      </button>
    </div>

    <div class="floating-label">
      <input
        required
        id="authModalPinField"
        #authModalPinField
        [type]="showPin ? 'text' : 'password'"
        name="pin"
        maxlength="64"
        formControlName="pin"
      />
      <label for="authModalPinField">PIN</label>

      <button type="button" class="bordered svg-button" [ngClass]="showPin ? 'icon-show' : 'icon-hide'" (click)="toggleShowPin()">
        <div class="svg-wrapper">
          <div role="img"></div>
        </div>
      </button>
    </div>
  </div>
</form>

<div class="button-group">
  <button (click)="login(authModalNsecField.value, authModalPinField.value, true)" class="btn" type="button">Add account & Login</button>
  <button (click)="login(authModalNsecField.value, authModalPinField.value)" class="btn btn-primary" type="button">Login</button>
</div>

