@import 'settings';

:host {
  display: flex;
  justify-content: center;
  align-items: var(--modalAlign);
  background-color: rgba(15, 23, 42, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
}

.modal {
  margin: 0 auto;
  display: block;
  width: 600px;
  background-color: #FFFFFF;
  border-radius: var(--modalBorderRadius);
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.1);

  header {
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
  }

  > div {
    border-top: 1px solid #E0E0E0;;
    padding: 2.5em 2em;
  }

  @media(max-width: $max-mobile) {
    // h1 {
    //   font-size: ;
    // }
  }
}
