footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  border-top: 1px solid;
  background-color: #ddd;
}

.authenticathed-profile {
  background-color: #eee;
  border: 2px solid;
  border-radius: 6px;
  cursor: pointer;
  display: flex;

  &:hover {
    background-color: #ccc;
  }

  .profile-data {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1rem 1rem;
  }
}
