ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    border-top: 1px solid;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background-color: #ddd;
    }

    &:active {
      background-color: #ccc;
    }
  }
}