<!-- TODO: pagination -->
<div class="container">
  <ul>
    <li *ngFor="let item of auctions; trackBy: trackByFn">
      <!-- Maybe it should be a component -->
      <div class="card">
        <div class="card-img">
          <!-- FIXME: create pipe to show the cover imagem only -->
          <img [src]="item.images[0].url" alt="{{item.name}} image">
        </div>

        <div class="card-details">
          <h2 class="card-details-title">{{item.name}}</h2>

          <p class="card-details-description" [title]="item.description">{{item.description}}</p>

          <div>
            <div class="card-details-bid">
              <h3>Ș {{item.highestBid}}</h3>
              <span>{{item.bidderName}}</span>
            </div>
            <hr>
            <div class="card-details-expiration-date">
              <span>Time left: {{item.completionDate | timeLeft | async}}</span>
            </div>
          </div>
        </div>

      </div>
    </li>
  </ul>

</div>
