@import 'settings';


.container {
  display: flex;
  justify-content: center;
  background-color: #edf2f7;
  padding: 20px;

  ul {
    list-style-type: none;
    padding: 0;

    li + li {
      margin-top: 15px;
    }
  }
}

.card {
  display: flex;
  border-radius: 10px;
  max-width: 700px;
  box-shadow: 0 5px 21px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  height: 220px;
  font-size: 16px;

  .card-img {
    width: 200px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px 0 0 10px;
    }
  }

  .card-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;

    hr {
      border: 0;
      border-top: 2px solid #e2e8f0;
      margin: 12px 0;
    }

    > div {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  .card-details-title {
    font-size: 2em;
    font-weight: 400;
  }

  .card-details-description {
    font-size: 1em;
    margin-top: 5px;
    color: #646b6f;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .card-details-bid {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-weight: bold;
    }
  }

  .card-details-expiration-date {
    color: #a2a9ad;
    align-self: flex-end;
    font-style: italic;
  }

  .card-bar-expiration-date{
    width: 100%;
    background-color: white;
    height: 20px;

    .progress {
      border-color: black;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      border: 30px;
      border-radius: 30px;
      height: 100%;
      background-color: red;
      margin: auto;
      text-align: center;
      background: repeating-linear-gradient(
        -45deg,
        red 0,
        red 24px,
        rgb(155, 0, 0) 20px,
        rgb(155, 0, 0) 25px
    );
      
    }
  }

  @media(max-width: $max-mobile) {
    flex-direction: column;
    height: auto;
    font-size: 14px;

    .card-img {
      width: 100%;
      height: 200px;

      img {
        border-radius: 10px 10px 0 0;
      }
    }

    .card-details {
      padding: 15px;
    }
  }

}
