<header>Bitcoin Nostred Auction</header>
<nav class="mainmenu">
  <ul>
    <li>
      <a routerLink="/pages/auctions-list">home</a>
    </li>
    <li>
      <a routerLink="/pages/my-auctions">my auctions</a>
    </li>
    <li>
      <a routerLink="/pages/my-bids">my bids</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer>
  <button class="btn btn-primary" type="button">Add Nostr Account</button>
  <button class="btn btn-primary" type="button">Select Nostr Account</button>
</footer>

<nav>
  <ul>
    <li>
      <a>Write NSEC</a>
    </li>
    <li>
      <a>NSEC from Clipboard</a>
    </li>
    <li>
      <a>NSEC from QRCode</a>
    </li>
    <li>
      <a>NSEC from Encrypted QRCode</a>
    </li>
  </ul>
</nav>
