header {
  background-color: black;
  color: #FFFFFF;
  padding: 1rem;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}

.mainmenu {
  padding: 10px 0;
  background-color: #FFFFFF;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
}

.fixed-header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

.outlet-content {
  padding-top: 15px;
  padding-bottom: 65px;
}
