<header>Bitcoin Nostred Auction</header>
<nav class="mainmenu">
  <ul>
    <li>
      <a routerLink="/auctions-list">home</a>
    </li>
    <li>
      <a routerLink="/my-auctions">my auctions</a>
    </li>
    <li>
      <a routerLink="/my-bids">my bids</a>
    </li>
    <li>
      <a routerLink="/network">network</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer>
  <button (click)="addNostrAccount()" class="btn btn-primary" type="button">Add Nostr Account</button>
  <button (click)="selectNostrAccount()" class="btn btn-primary" type="button">Select Nostr Account</button>
</footer>

<auc-custom-modal></auc-custom-modal>
