<div class="fixed-header">
  <header>Bitcoin Nostred Auction</header>
  <nav class="mainmenu">
    <ul>
      <li>
        <a routerLink="/auctions-list">home</a>
      </li>
      <li>
        <a routerLink="/my-auctions">my auctions</a>
      </li>
      <li>
        <a routerLink="/my-bids">my bids</a>
      </li>
      <li>
        <a routerLink="/chat">chat</a>
      </li>
      <li>
        <a routerLink="/network">network</a>
      </li>
    </ul>
  </nav>
</div>

<div class="outlet-content">
  <router-outlet></router-outlet>
</div>

<auc-auth-footer></auc-auth-footer>
<auc-custom-modal></auc-custom-modal>
<auc-error [error]="error"></auc-error>
