<form>
  <div>
    <div class="floating-label">
      <input
        required
        #authModalNsecField
        id="authModalNsecField"
        type="password"
        name="nsec"
        maxlength="64"
        formControlName="nsec"
      />
      <label for="authModalNsecField">Nostr Secret (nsec)</label>

      <button type="button" class="bordered svg-button icon-show">
        <div class="svg-wrapper">
          <div role="img"></div>
        </div>
      </button>
    </div>

    <div class="floating-label">
      <input
        required
        id="authModalPinField"
        #authModalPinField
        type="password"
        name="pin"
        maxlength="64"
        formControlName="pin"
      />
      <label for="authModalPinField">PIN</label>

      <button type="button" class="bordered svg-button icon-show">
        <div class="svg-wrapper">
          <div role="img"></div>
        </div>
      </button>
    </div>
  </div>
</form>

<button class="btn" type="button">Login</button>
<button class="btn" type="button">Add account & Login</button>

